
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav {
    background: #030c4c;
    height: 80px;
    width: 100%;
    font-weight: 500;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
}

label.logo {
    line-height: 80px;
    padding: 0 20px;
}

nav ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}


nav ul li a {
    color: white;
    font-size: 24px;
    padding: 7px 13px;
    border-radius: 3px;
   
}

aside {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
}

a.active,
a:hover {
    background:#5f95e7;
    color:#030c4c;
    transition: .5s;
}

.checkbtn {
    font-size: 40px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

body{
    color:#030c4c;
}

main{
    display: flex;
    flex-direction: row;
}

h2{
    font-size: 40px;
    line-height: 50px;

}

p{
    line-height: 20px;
    max-width: 500px;
    margin: 20px 20px 0px 110px;
    text-align: center;
}

article{
    display: flex;
    flex-direction: row;
}

article img{
    width: 400px;
    margin: 10px 0px 0px 700px;
}

